{% extends 'base.html' %}
{% load static %}
{% block content %}

  <section class="bg-title-page p-t-50 p-b-40 flex-col-c-m" style="background-image: url(/static/images/callidon_wall.jpg);">
    <h1 class="l-text2 t-center">Privacy Policy</h1>
  </section>

  <div class="container bgwhite p-t-35 p-b-80">
    <div class="flex-w flex-sb">
      <div class="about-us">
        <h2>Terms of Agreement</h2>
        <br/>
        <p>Welcome to Callidon Equipment website. Before using our services, please read the following terms and conditions that govern our relationship with users. By accessing or using our services, you agree to comply with these terms in their entirety. If you do not agree with any part of these terms, we recommend not using our website.</p>
        <br/>
        
        <h2>Use of the Website</h2>
        <br/>
        <ul>
          <li>A) Our website serves as a platform for selling heavy machinery. The use of our website is subject to applicable laws, regulations, and these terms.</li>
          <li>B) You agree to use our services only for legitimate purposes and in accordance with these terms. You shall not use our website for any illegal, fraudulent, defamatory, or rights-violating activities.</li>
        </ul>
        <br/>

        <h2>Intellectual Property</h2>
        <br/>
        <ul>
          <li>A) All content present on our website, including text, graphics, logos, images, videos, audio clips, software, and code, is the property of Callidon Equipment or our content providers. You are not granted any ownership rights over such content.</li>
          <li>B) Copying, reproducing, distributing, transmitting, publicly displaying, selling, renting, modifying, or creating derivative works from any content on our website is prohibited unless you have our express written authorization or that of the corresponding rights owners.</li>
        </ul>
        <br/>

        <h2>Privacy</h2>
        <br/>
        <ul>
          <li>A) The use of our services is subject to our Privacy Policy. By using our website, you agree to the processing of your personal data in accordance with our Privacy Policy.</li>
        </ul>
        <br/>

        <h2>User Responsibility</h2>
        <br/>
        <ul>
          <li>A) You are responsible for maintaining the confidentiality of your access information and all activities that occur under your account.</li>
          <li>B) You agree not to use our website to send content that is illegal, defamatory, obscene, offensive, pornographic, infringing on copyrights, or that may in any way harm third parties.</li>
        </ul>
        <br/>

        <h2>Limitation of Liability</h2>
        <br/>
        <ul>
          <li>A) We do not guarantee the availability, accuracy, timeliness, or reliability of our website or any content present on it. We recommend that you independently verify any information or service provided through our website.</li>
          <li>B) In no event shall we be liable for any direct, indirect, incidental, special, consequential, or punitive damages arising from the use or inability to use our website, including but not limited to data loss, loss of revenue, or business interruption.</li>
        </ul>
        <br/>

        <h2>Return Process</h2>
        <br/>
        <p>If you would like to learn more about our Return Policy, we invite you to visit the following link: <a href="https://callidonequipment.com/return-policy/" role="link">https://callidonequipment.com/return-policy/</a>. There you will find all the details regarding the terms, timelines, and procedures related to product returns.</p>
        <br/>

        <h2>Modifications</h2>
        <br/>
        <p>We reserve the right to modify these terms and conditions at any time and at our discretion. The modifications will take effect as soon as they are published on our website. It is your responsibility to periodically review these terms and conditions to stay informed of any changes. Your continued use of our website after the publication of modifications will constitute your acceptance of such modifications.</p>
        <br/>
        <p>These terms and conditions constitute the entire agreement between us and the users of our website regarding the use of our services. If you have any questions about these terms and conditions, please contact us through the means provided on our website.</p>
        <br/>

      </div>
    </div>
  </div>

  <!-- Container Selection -->
  <div id="dropDownSelect1"></div>
  <div id="dropDownSelect2"></div>

{% endblock content %}