{% load static %}
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"/>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Abel|Lato|Open+Sans&display=swap">

<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'fonts/themify/themify-icons.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'fonts/elegant-font/html-css/style.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'vendor/slick/slick.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'vendor/lightbox2/css/lightbox.min.css' %}"/>

<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />

<!-- landing CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}"/>
