<!-- Floating BBB Icon -->
<div class="bbb-floating-icon">
	<a href="https://www.bbb.org/us/fl/miami/profile/construction-equipment/callidon-equipment-0633-92041545/#sealclick" target="_blank" rel="nofollow">
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqKxcUk5rs1aLRLyaKeXZUl0pr3CHgp9Lzag&s" alt="BBB Logo" class="bbb-icon-compact">
	</a>
</div>
<div class="icon-bar">
  <a target="_blank" href="https://www.facebook.com/callidongroup" class="facebook"><i class="fa fa-facebook"></i></a>
  <a target="_blank" href="https://www.instagram.com/callidonequipment/" class="instagram"><i class="fa fa-instagram"></i></a>
  <a target="_blank" href="https://www.linkedin.com/in/leonardo-rogliero-5a2a88307" class="linkedin"><i class="fa fa-linkedin"></i></a>
  <a target="_blank" href="https://www.youtube.com/@callidonequipment" class="youtube"><i class="fa fa-youtube"></i></a>
  <a target="_blank" href="https://wa.me/message/3BALTT5H6SKNK1" class="whatsapp"><i class="fa fa-whatsapp"></i></a>
</div>