{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section class="bg-title-page p-t-50 p-b-40 flex-col-c-m" style="background-image: url(/static/images/callidon_wall.jpg)	;">
		<h2 class="l-text2 t-center">
			Return Policy
		</h2>
	</section>
	<div class="container bgwhite p-t-35 p-b-80">
		<div class="flex-w flex-sb">
            <div class="about-us">
                <h1>Return Policy</h1>
                <br>
                <h5>Return Eligibility</h5>
                <br>
                <p>Returns are not accepted if:</p>
                <br>
                <ul>
                    <li>- The return request is submitted 7 days or more after purchase date.</li>
                    <li>- The equipment has been damaged due to improper operation by the customer.</li>
                    <li>- The equipment's operating hours have increased by more than 50 hours since receipt by the customer.</li>
                </ul>
                <br>
                <h5>Return Process</h5>
                <br>
                <p>To initiate a return, please contact our customer service team at <a href="mailto:info@callidongroup.com">info@callidongroup.com</a> or <a href="tel:+17866741345">(786) 674-1345</a> to obtain a Return Authorization. Returns without a Return Authorization will not be accepted.</p>
                <br>
                <h5>Shipping Costs</h5>
                <br>
                <p>Shipping costs are non-refundable. If you receive a refund, the cost of return shipping will be deducted from your refund. You will also be responsible for paying your own shipping costs for returning your item.</p>
                <br>
                <h5>Restocking Fee</h5>
                <br>
                <p>A 15% restocking fee will apply to all eligible returns, except in cases where the equipment is returned due to it not functioning as described in the product listing or due to a defect covered under warranty.</p>
                <br>
                <h5>Refunds</h5>
                <br>
                <p>Once your return is received and inspected, we will send you an email to notify you that we have received your returned item. We will also notify you of the approval or rejection of your refund. If your return is approved, your refund will be processed and applied within 15 business days.</p>
                <br>
                <h5>Contact Us</h5>
                <br>
                <p>If you have any questions about our Return Policy, please contact us at <a href="mailto:info@callidongroup.com">info@callidongroup.com</a> or <a href="tel:+17866741345">(786) 674-1345</a>. Our customer service team will be happy to assist you.</p>
                <br>
                <p>This Return Policy is effective as of 7/23/2024 and applies to all purchases made through callidonequipment.com or callidongroup.com from this date. We reserve the right to update or modify this policy at any time without prior notice.</p>
            </div>
		</div>
	</div>

	<!-- Container Selection -->
	<div id="dropDownSelect1"></div>
	<div id="dropDownSelect2"></div>

	{% endblock content %}